--
-- PostgreSQL database dump
--

\restrict 6ofVOVWLElLypGIR2UmIRiUvm5TQEsS2k4DqWSdNa6pYQfFfe4jJGlOwOyQlAki

-- Dumped from database version 18.3
-- Dumped by pg_dump version 18.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: devices; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.devices (
    id integer NOT NULL,
    serial_number character varying(100) NOT NULL,
    order_number character varying(100),
    uop character varying(100),
    sgp_date date,
    status character varying(50)
);


ALTER TABLE public.devices OWNER TO postgres;

--
-- Name: devices_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.devices_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.devices_id_seq OWNER TO postgres;

--
-- Name: devices_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.devices_id_seq OWNED BY public.devices.id;


--
-- Name: devices_info; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.devices_info (
    id integer NOT NULL,
    device_id integer,
    customer character varying(200),
    receiver character varying(200),
    accessories text,
    extra_equipment text,
    extra_requirements text,
    comments text,
    orders text,
    last_update date
);


ALTER TABLE public.devices_info OWNER TO postgres;

--
-- Name: devices_info_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.devices_info_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.devices_info_id_seq OWNER TO postgres;

--
-- Name: devices_info_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.devices_info_id_seq OWNED BY public.devices_info.id;


--
-- Name: devices id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.devices ALTER COLUMN id SET DEFAULT nextval('public.devices_id_seq'::regclass);


--
-- Name: devices_info id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.devices_info ALTER COLUMN id SET DEFAULT nextval('public.devices_info_id_seq'::regclass);


--
-- Name: devices_info devices_info_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.devices_info
    ADD CONSTRAINT devices_info_pkey PRIMARY KEY (id);


--
-- Name: devices devices_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.devices
    ADD CONSTRAINT devices_pkey PRIMARY KEY (id);


--
-- Name: devices devices_serial_number_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.devices
    ADD CONSTRAINT devices_serial_number_key UNIQUE (serial_number);


--
-- Name: idx_order_number; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_order_number ON public.devices USING btree (order_number);


--
-- Name: idx_serial_number; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_serial_number ON public.devices USING btree (serial_number);


--
-- Name: devices_info devices_info_device_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.devices_info
    ADD CONSTRAINT devices_info_device_id_fkey FOREIGN KEY (device_id) REFERENCES public.devices(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict 6ofVOVWLElLypGIR2UmIRiUvm5TQEsS2k4DqWSdNa6pYQfFfe4jJGlOwOyQlAki

